<div class="starter-template">
  <h1 class="title">Area 52 Black Market Auction House Items</h1>
  <h2 class="section"> Current BMAH Auctions: </h2>
  <br>
  <br>
<% @auctions.each do |item| %>
<ul>
<p class="lead section">Name: <strong><%= item[:item_name]%></strong> </p>
<div class="bmah_item">
    <p class="lead">Current Bid: <%= item[:current_bid]%> </p>
    <p class="lead">Minimum Bid: <%= item[:minimum_bid]%> </p>
    <p class="lead">Time Left: <%= item[:time_left]%> </p>
    <p class="lead">Number of Bids: <%= item[:number_of_bids]%> </p>
    <p class="lead">Realm Market Value: <%= item[:realm_market_value]%> </p>
    <p class="lead">Global Market Value: <%= item[:global_market_value]%> </p>
    <p class="lead">Realm AH Current Quantity: <%= item[:realm_ah_current_quantity]%> </p>
  </ul>
</div>
<br>
<% end %>
<div class="section token_price">
<h2>WOW Token Price</h2>
<p> Current token value:</p><strong> <%= @token_price %></strong>
</div>
<div class="lead reload">
  <a class="reload" href="/">Reload</a>
</div>
</div>
